@import "../composition/theme";

nav {
    position: sticky;
    top: 0;
}
.menu { 
    background-color: $primary-color-light;
    color:white;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.371);

    a {
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3em;
    }
}