.changeTheme {
    background: #1D1E22;
    color: #eee;
}

.material-icons { 
    font-size: 40px; 
    color:#6495ED;
}
 
.dark_mode {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6495ED
}