@import '../utility/animations';
// Color variables
$primary-color-light: #F88818;
$primary-color-dark: #1888F8;
$hover-color: rgb(228, 228, 228);

:root {
    --primary-color: $primary-color-light;
}

* {
    border-color: $primary-color-light;
}

.card {
    border: 1px solid $primary-color-light;
    border-radius: 2em;
    p {
        padding: 5px 0;
        font-size: 1.3em;
    }
}

.logolight {
    display: block;
}

.logodark {
    display: none;
}

a { 
    transition: $hover-transition;
    color: white;
    &:hover {
        background-color: $hover-color;
        color: $primary-color-light;
    }
    &:not(nav a, header a) {
        background-color: $primary-color-light;
        text-decoration: none;
        padding: .5em .7em;
        border-radius: .5em;
        display: block;
        width: fit-content;
        margin: .7em auto;
    }
}
 
.dark_mode {
    .material-icons{
        transition: $hover-transition;
        &:hover {
            color: $primary-color-dark;
        }

    }
}

.changeTheme {
    background: #1D1E22;
    color: #eee;
    .menu {
        background-color: $primary-color-dark;
    }
    .material-icons {
        color: $primary-color-dark;
    }
    .head1 {
        color: $primary-color-dark;
    }
    .dark_mode{
        .material-icons{
            &:hover {
                color: $primary-color-light;
            }
        }
    }
    a {
        background-color: $primary-color-dark;
        &:hover {
            color: $primary-color-dark;
            background-color: $hover-color;
        }
    }
    #hero {
        border-color: $primary-color-dark;
    }
    * {
        border-color: $primary-color-dark;
    }
    .card {
        border-color: $primary-color-dark;
    }
    .logolight {
        display: none;
    }
    .logodark {
        display: block;
    }
    .close {
        color: white;
        &:hover {
            color: $primary-color-dark;
        }
    }
    .modal-content {
        background-color: #1D1E22;
        border-color: $primary-color-dark;
        .container {
            input {
                border-color: $primary-color-dark;
            }
            button {
                background-color: $primary-color-dark;
                &:hover {
                    color: $primary-color-dark;
                }
            }
            a {
                color: $primary-color-dark;
            }
        }
    }
    form:not(#login) {
        fieldset {
            border-color: $primary-color-dark;
            legend {
                color: $primary-color-dark;
            }
            input {
                border-color: $primary-color-dark;
                background-color: #1D1E22;
                color: white;
            }
            button {
                background-color: $primary-color-dark;
                &:hover {
                    color: $primary-color-dark;
                }
            }
        }
    }
    .blink {
        background-color: transparent;
        color: $primary-color-dark;
        &:hover {
            background-color: transparent;
        }
    }
}

.material-icons { 
    font-size: 40px; 
    color: $primary-color-light;
}