<div class="modal-content animate">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Form">&times;</span>
    <div class="imgcontainer">
        <img src="../images/placeholder.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <form action="/src/client/index.html" method="post" id="login">
            <label for="uname">Username</label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <label for="psw">Password</label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> <span>Remember me</span>
            </label>
        </form>

        <div class="container">
            <h2>Don't have an account?</h2>
            <span class="reg"><a href="../client/register.html">Register</a></span>
        </div>
    </div>
</div>